.animation {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 10px solid #5abb63;
    border-top-color: #fff;
    border-bottom-color: #fff;
    animation: rotation 2s linear infinite;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}